:root {
  --white: #ffffff;
  --black: #00050e;
  --blue: #0760fb;
  --dodgerblue: #4b8dff;
  --lightblue: #e2ebfa;

  --gray-50: #f9f9f9;
  --gray-100: #f4f4f4;
  --gray-200: #d9d9d9;
  --gray-300: #979797;
  --gray-400: #717171;
  --gray-500: #393939;

  --rounded-none: 0;
  --rounded-xs: 2px;
  --rounded-sm: 4px;
  --rounded-md: 8px;
  --rounded-lg: 16px;
  --rounded-xl: 32px;
  --rounded-full: 9999px;
}

body {
  margin: 100px auto;
  background-color: var(--gray-300);
}
